html {
  scroll-behavior: smooth;
}

body {
    background: #f7f7f7;
    color: #333;
    font-family: 'Merriweather sans', sans-serif; }

section, header {
    width: 80%;
    max-width: 800px;
    margin: auto;}

img {
    display: block;
    padding: 0;
    max-width: 100%;
}

.mainimg {
    margin : 4em auto ;
}
.kernloose {letter-spacing: 5px;}
.imgbtm {margin-bottom: 4rem;}

.topimg {
    margin-top: 0;
    margin-bottom: 4rem;
}

/*---- Styling typography ---*/
h1, h2, blockquote {
    color: #7D2E23; 
    font-family: 'Merriweather', serif;
}

p, blockquote {
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 5.5rem;
    color: #333;
    font-weight:800;
    margin: 2rem 0 1rem 0;
    }

h2 {
    font-size: 2rem;
    margin: 3rem 0 2rem 0;
}

blockquote {
    font-size: 1.75rem;
    font-style: italic;
    margin: 0;
    hanging-punctuation: first;
    text-indent: -0.75rem;
}

cite {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #333;
    font-style: normal;
}

header h2 {
    font-size: 3rem;
    font-style: italic;
    font-family: 'Merriweather sans', sans-serif; 
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-weight: 300;
}

header p {
    font-size: 1.562rem;
    margin-bottom: 4rem;
    font-family: 'Merriweather', serif;
}



/*-- Stying links ---*/
a {
    color: #7D2E23;
   text-decoration: none;
}
a:hover {
    color: #333;
    border-bottom: 1px dotted;
}

/*--- SET UP A RSPONSIVE NAV --*/

.responsivenav {
    background: #7D2E23;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    

#logo {     
    font-size: 1.5rem;
    color: #f7f7f7;
    font-family: 'Merriweather', serif;
    padding-left: 32px; }

#logo a {
    color: #f7f7f7;
    text-decoration: none;
}

#logo a:hover {
    opacity: 0.7;
    border-bottom: none;
}

hr {
    margin: 100px 0;
    height: 1px;
    background-color: #333;
    border: 0 none;
}

nav {display: flex;
    padding: 2rem 0;
    font-size: 0.8rem;}

nav ul {
        text-align: right;
        text-transform: uppercase;
        letter-spacing: 1px;
        list-style-type: none; 
        padding-right: 64px;
        }

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;}

nav a:hover {
    color: white;
    opacity: 0.7;
    border-bottom: none;
    transition: all 0.3s ease-in-out;}

/*-- ALIGN IMAGES HORIZONTALLY --*/

.imgsmall {
    max-width: 800px;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-gap: 20px;
  
  /*------------ TO CREATE A THREE COLUMN GRID REDUCE 375PX TO 250PX -----------*/  
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr)) ; 
  }
/*-- STYLING SCHER SECTION --*/

.dark {
    background: #7D2E23;
    color: #f7f7f7;
    padding: 6rem 0;
}

.dark h2, blockquote, cite {
    color: #f7f7f7;
}

.dark a {
    color: #f7f7f7;
    font-weight: bold;
    border-bottom: 1px dotted;
}

.list ul{
    line-height: 1.5;
    margin-left: 0;
}

.list li {
    margin-bottom: 1rem;
    list-style-type: none;
    margin-left: -2.5rem; 
}


footer {
    background: #333;
    text-align: center;
    font-size: 0.8rem;
    color: #f7f7f7;
    padding: 4rem 0}

footer p {
    margin: 0 12rem;}

footer a {
    color: #f9b082;}

footer a:hover {
    color: #f7f7f7;
    transition: all 0.3s ease-in-out;
}

      

/*-- ADDING MEDIA QUERIES FOR DIFFERENT DEVICES --*/
@media (max-width: 600px) {
    nav {
      flex-direction: column;
      align-items: center;
    }

    #logo {
      order: 2;
      margin-bottom: 10px;
    }

    nav ul li {
       display: list-item;
        margin: 10px;
    }
  }
